#logo {
	background-image: url( 'images/logo.png' );
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: super;
	width: 150px;
	height: 28px;
	text-indent: -9999px;
}
.navbar-text {
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-text-and-button {
	margin-bottom: 10px;
}
.login-button {
	cursor: pointer;
}
#login-buttons-image-twitter {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
#logout-button {
	vertical-align: bottom;
}
.pomodoro-container {
	text-align: center;
}
.pomodoro-time {
	width: 500px;
	height: 500px;
	margin: 20px auto;
}
.pomodoro-tomato-empty-pic, .pomodoro-tomato-pic {
	position: absolute;
	width: 500px;
	height: 500px;
}
.pomodoro-current-time {
	position: relative;
	top: 40%;
	font-size: 80px;
}
.pomodoro-tomato-pic {
	background-image: url( 'images/tomato.png' );
}
.pomodoro-tomato-empty-pic {
	background-image: url( 'images/tomato_empty.png' );
}
.pomodoro-buttons button {
	margin-right: 20px;
}
.pomodoro-buttons button:last-of-type {
	margin-right: 0;
}
.pomodoro-buttons-types {
	margin-top: 30px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0;
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* fade-in effect */
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}